@use "/src/themes/theme" as *;

.root {
    margin-bottom: 40px;
}

.top-panel {
    margin: auto;
    width: 73%;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-content {
    margin: auto;
    width: 73%;
    margin-top: 40px;
}

.img {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    aspect-ratio: 1/1;
}