@use "/src/themes/theme" as *;

.root {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    height: 16px;
    width: 16px;
    cursor: inherit;
  }

  .logo {
    object-fit: contain;
    height: 100%;
    width: 128px;
  }

  .search {
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: $secondary-grey-1;

    &:hover {
      color: $primary-black-1;
    }
  }
}

.engine {
  color: $secondary-yellow;
  fill: $primary-black-1;
}

.unlink {
  color: $secondary-red;
  fill: $primary-white-1;
}

.real-time {
  color: $secondary-green;
  fill: $primary-white-1;
}

.text {
  color: var(--color, $primary-blue-1);
  fill: $primary-white-1;

  text {
    font-weight: 500;
    font-size: 11px;
  }
}

.camera-other-than-pause {
  color: var(--color, $primary-blue-1);
}

.camera-pause {
  color: var(--color, $primary-blue-1);
}