.modal-header {
  display: flex;
  flex: 1;

  .header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .close-icon {
    justify-items: flex-end;
    align-self: center;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
}
