@use "/src/themes/theme" as *;

.loader {
  width: 24px;
  height: 24px;
  border: 2px solid transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.loader-default {
  border-bottom-color: $primary-black-1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}